<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<p>Click on the "Choose File" button to upload a file:</p>

<div>
    <form th:action="@{/uploadFile}" , method="post" enctype="multipart/form-data">
        <p th:auth="${message}"></p>
        <input type="file" id="file" name="file">
        <input type="submit">
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

<a th:href="@{/results}">Resutls<a/>


</body>
</html>