<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<p>Click on the "Choose File" button to upload a file:</p>

<div>
    <form th:action="@{/uploadFile}" , method="post" enctype="multipart/form-data">
        <p th:auth="${message}"></p>
        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        <input type="file" id="file" name="file" value="Choose File">
        <input type="submit" name="upload" value="Upload">
    </form>
</div>

<a th:href="@{/showCalcPage}">GO to Calculation Page</a>

</body>
</html>